# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
    # Triggers the workflow on push or pull request events but only for the main branch
    push:
        branches: [master]
    pull_request:
        branches: [master]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "build"
    build:
        # The type of runner that the job will run on
        runs-on: [self-hosted, beta]

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v2

            # Runs a single command using the runners shell
            - name: Install kubectl
              run: |
                  curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
                  curl -LO "https://dl.k8s.io/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl.sha256"
                  echo "$(<kubectl.sha256) kubectl" | sha256sum --check
                  chmod +x kubectl

            # Runs a set of commands using the runners shell
            - name: Test connection
              run: |
                  ./kubectl config view
                  ls /var/run/secrets/kubernetes.io/serviceaccount
                  # 내부 API 서버 호스트 이름을 가리킨다
                  APISERVER=https://kubernetes.default.svc

                  # 서비스어카운트(ServiceAccount) 토큰 경로
                  SERVICEACCOUNT=/var/run/secrets/kubernetes.io/serviceaccount

                  # 이 파드의 네임스페이스를 읽는다
                  NAMESPACE=$(cat ${SERVICEACCOUNT}/namespace)

                  # 서비스어카운트 베어러 토큰을 읽는다
                  TOKEN=$(cat ${SERVICEACCOUNT}/token)

                  # 내부 인증 기관(CA)을 참조한다
                  CACERT=${SERVICEACCOUNT}/ca.crt

                  # TOKEN으로 API를 탐색한다
                  curl --cacert ${CACERT} --header "Authorization: Bearer ${TOKEN}" -X GET ${APISERVER}/api
